{% extends 'default.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans "Search news" %}</h1>
<form method="get" action="{% url 'news_search' %}">
    <label for="q">{% trans "Name" %}:</label>
    <input type="text" name="q" id="q" value="{{ request.GET.q }}">
    
    <label for="author">{% trans "Author" %}:</label>
    <input type="text" name="author" id="author" value="{{ request.GET.author }}">
    
    <label for="date">{% trans "Later dates" %}:</label>
    <input type="date" name="date" id="date" value="{{ request.GET.date }}">
    
    <button type="submit">{% trans "Search" %}</button>
</form>

{% if posts %}
    <h2>{% trans "Search results" %}</h2>
    <ul>
        {% for post in posts %}
        <li>
            <h3><a href="{% url 'news_detail' post.id %}">{{ post.title }}</a></h3>
            <p>{% trans "Author" %}: {{ post.author.user.username }}</p>
            <p>{% trans "Date" %}: {{ post.created_at|date:"d.m.Y" }}</p>
            <p>{{ post.content|truncatechars:20 }}</p>
        </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1&q={{ request.GET.q }}&author={{ request.GET.author }}&date={{ request.GET.date }}">&laquo; {% trans "First" %}</a>
                <a href="?page={{ posts.previous_page_number }}&q={{ request.GET.q }}&author={{ request.GET.author }}&date={{ request.GET.date }}">{% trans "Previous" %}</a>
            {% endif %}

            <span class="current">
                {% trans "Page" %} {{posts.number}} {% trans "from" %} {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}&q={{ request.GET.q }}&author={{ request.GET.author }}&date={{ request.GET.date }}">{% trans "Next" %}</a>
                <a href="?page={{ posts.paginator.num_pages }}&q={{ request.GET.q }}&author={{ request.GET.author }}&date={{ request.GET.date }}">{% trans "The last one" %} &raquo;</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <p>{% trans "No news found" %}.</p>
{% endif %}
{% endblock %}
