{% extends 'default.html' %}

{% block content %}
<h1>Список новостей</h1>
<p>Всего новостей: {{ posts.paginator.count }}</p>
<ul>
    {% for post in posts %}
    <li>
        <h2><a href="{% url 'news_detail' post.id %}">{{ post.title }}</a></h2>
        <p>Дата публикации: {{ post.created_at|date:"d.m.Y" }}</p>
        <p>{{ post.content|truncatechars:20 }}</p>
    </li>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ posts.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ posts.number }} из {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Следующая</a>
            <a href="?page={{ posts.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
